<div class="modal-header">
    <h6 class="modal-title">
        {{modalContent.categoryId}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-6 text-start">
            <h4>{{modalContent.instrumentDescription}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h3>{{modalContent.askPrice|currency}}</h3>
        </div>
        <div class="col-auto" style="display:flex;align-items:center">
            <h5 class="align-bottom" [ngStyle]="{'color': modalContent.askPrice < calculatedPrice ? 'green' : 'red' }">
                {{
                calculatedPrice-modalContent.askPrice |currency}}
                ({{((calculatedPrice-modalContent.askPrice)/modalContent.askPrice)*100 | percent:'1.2-2'}})</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height:80%;">
            <canvas baseChart width="80%" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
                [legend]="lineChartLegend">
            </canvas>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col m-2 card">
            <div class="card-body">
                <h5 class="card-title">Funds</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{walletAmount | currency}}</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Holdings</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{portfolioQuantity}}</h6>
            </div>
        </div>
        <div class="col-8 mt-2 mb-2">

            <ul ngbNav #buySellNav="ngbNav" class="nav nav-tabs nav-justified">
                <li ngbNavItem>
                    <a ngbNavLink>Buy</a>
                    <ng-template ngbNavContent>
                        <ngb-alert *ngIf="errorMessage" #selfClosingAlert type="danger" (closed)="errorMessage=''"
                            [dismissible]="true" class="mt-2">{{ errorMessage }}
                        </ngb-alert>
                        <form [formGroup]="buyForm" (ngSubmit)="buyStocks()" class="form mt-2">
                            <label for="buyQuantity">Shares:</label>
                            <input type="text" placeholder="Quantity" formControlName="buyQuantity" id="buyQuantity"
                                class="form-control mb-2">
                            <span *ngIf="buyForm.valid">Approx. Cost {{buyForm.get("buyQuantity")?.value *
                                modalContent.askPrice *
                                1.01 | currency
                                : 'USD' : "symbol" :'1.2-2'}} </span>
                            <span placement="left"
                                ngbTooltip="Please enter a quantity between {{this.modalContent.minQuantity}} and {{(this.modalContent.maxQuantity>this.maxQuantity?this.maxQuantity:this.modalContent.maxQuantity) | number: '1.0-0'}}"
                                [disableTooltip]="buyForm.valid && ((this.modalContent.maxQuantity > this.maxQuantity ? this.maxQuantity : this.modalContent.maxQuantity) >= buyForm.get('buyQuantity')?.value || (this.modalContent.minQuantity > this.maxQuantity ? this.maxQuantity : this.modalContent.minQuantity) <= buyForm.get('buyQuantity')?.value)"
                                class="float-end">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="!buyForm.valid || (this.modalContent.minQuantity > this.maxQuantity ? this.maxQuantity : this.modalContent.minQuantity) > buyForm.get('buyQuantity')?.value||(this.modalContent.maxQuantity > this.maxQuantity ? this.maxQuantity : this.modalContent.maxQuantity) < buyForm.get('buyQuantity')?.value">Buy</button></span>
                        </form>

                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Sell</a>

                    <ng-template ngbNavContent>
                        <ngb-alert *ngIf="errorMessage" #selfClosingAlert type="danger" (closed)="errorMessage=''"
                            [dismissible]="true" class="mt-2">{{ errorMessage }}
                        </ngb-alert>
                        <form [formGroup]="sellForm" (ngSubmit)="sellStocks()" class="form mt-2">
                            <label for="sellQuantity">Shares:</label>
                            <input type="text" placeholder="Quantity" formControlName="sellQuantity" id="sellQuantity"
                                class="form-control mb-2">
                            <span *ngIf="sellForm.valid">Approx. Return {{sellForm.get("sellQuantity")?.value *
                                modalContent.bidPrice
                                * 1.01 |
                                currency : 'USD' : "symbol" :'1.2-2'}} </span>
                            <span placement="left" ngbTooltip="Please enter a quantity below number of Holdings."
                                [disableTooltip]="sellForm.valid && this.portfolioQuantity>sellForm.get('sellQuantity')?.value" class="float-end"><button type="submit"
                                    [disabled]="!sellForm.valid || this.portfolioQuantity<=sellForm.get('sellQuantity')?.value" class="btn btn-primary float-end">Sell</button></span>
                        </form>
                    </ng-template>
                </li>
            </ul>
            <div class="card border-top-0 rounded-0">
                <div class="card-body">
                    <div [ngbNavOutlet]="buySellNav"></div>
                </div>
            </div>
        </div>

    </div>
</div>