<div class="modal-body">
    <div class="row">
        <div class="col-12 text-end">
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-start">
            <h4>{{modalContent.Name}}</h4>
        </div>
        <div class="col-6 text-end">
            {{modalContent.Sector}}
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h3>{{modalContent.Price[modalContent.Price.length-1]|currency}}</h3>
        </div>
        <div class="col-auto align-bottom" style="display:flex;align-items:center">
            <h5 [ngStyle]="{'color': modalContent.Price[modalContent.Price.length-1] >= 0 ? 'green' : 'red' }">{{modalContent.Price[modalContent.Price.length-1] - modalContent.Price[0]|currency}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <canvas baseChart width="80%"
            [type]="'line'"
            [data]="lineChartData" 
            [options]="lineChartOptions"           
            [legend]="lineChartLegend">
          </canvas>
        </div>
    </div>
    <div class="row mt-2">        
        <div class="col-6">
            <div calss="card">
                <div class="card-header">
                    <ul ngbNav #buySellNav="ngbNav" class="nav-tabs">
                        <li ngbNavItem>
                            <a ngbNavLink>Buy</a>
                            <ng-template ngbNavContent>
                            <form [formGroup]="buyForm" (ngSubmit)="buyStocks()" class="form mt-2">
                                <label for="buyQuantity">Shares:</label>
                                <input type="text" placeholder="Quantity" formControlName="buyQuantity" id="#buyQuantity" class="form-control">
                                <button type="submit" [disabled]="!buyForm.valid" class="btn btn-primary">Buy</button>
                            </form>
                            <ngb-alert *ngIf="buyError" [type]="errorType" [dismissible]="false">Insufficient Funds!</ngb-alert>
                            </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink>Sell</a>
                            <ng-template ngbNavContent>
                                <form [formGroup]="sellForm" (ngSubmit)="sellStocks()" class="form mt-2">
                                    <label for="sellQuantity">Shares:</label>
                                    <input type="text" placeholder="Quantity" formControlName="sellQuantity" id="#sellQuantity" class="form-control">
                                    <button type="submit" [disabled]="!sellForm.valid" class="btn btn-primary">Sell</button>
                                </form>
                                <ngb-alert *ngIf="sellError" [type]="errorType" [dismissible]="false">Insufficient Shares!</ngb-alert>
                                <ngb-alert *ngIf="sellStockError" [type]="errorType" [dismissible]="false">Stock not in portfolio</ngb-alert>
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div [ngbNavOutlet]="buySellNav"></div>                    
                </div>
            </div>
        </div>
    </div>
</div>