<div class="container mt-4">
    <div class="row mt-4 align-items-end">
        <div class="col-12 col-md-6 col-xl-8 mt-2">
            <h1>Trade Activity</h1>
            <p>Look for your previous trades</p>
        </div>
        <div class="col mt-2 align-with-text">
            <div class="row gx-0">
                <div class="col-4 ml-auto">
                    <div ngbDropdown placement="bottom-end">
                        <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
                            <i class="bi bi-filter"></i> Filter </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="changeCategory('')">All</button>
                            <button ngbDropdownItem (click)="changeCategory('B')">Buy</button>
                            <button ngbDropdownItem (click)="changeCategory('S')">Sell</button>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <input [(ngModel)]="searchText" type="search" id="stockSearch" class="form-control"
                        (ngModelChange)="onChange()" placeholder="Search" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" sortable="instrumentId" (sort)="onSort($event)">Symbol</th>
                        <th scope="col" sortable="quantity" (sort)="onSort($event)">Quantity</th>
                        <th scope="col" sortable="cashValue" (sort)="onSort($event)">Price</th>
                        <th scope="col" sortable="direction" (sort)="onSort($event)" >Type</th>
                        <th scope="col" sortable="timestamp" (sort)="onSort($event)" >Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rowData">
                        <td>{{row.instrumentId}}</td>
                        <td>{{row.quantity}}</td>
                        <td>{{row.cashValue | currency}}</td>
                        <td >{{row.direction}}</td>
                        <td >{{row.timestamp | date: 'long'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between align-items-start">
            <div class="d-flex align-items-center">
                <p>Rows per page <span>&nbsp;</span> <span>&nbsp;</span></p>
                <div ngbDropdown placement="top-end" class="align-with-text">
                    <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
                        {{pageSize}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="changePagesize(5)">5</button>
                        <button ngbDropdownItem (click)="changePagesize(10)">10</button>
                        <button ngbDropdownItem (click)="changePagesize(15)">15</button>
                        <button ngbDropdownItem (click)="changePagesize(20)">20</button>
                        <button ngbDropdownItem (click)="changePagesize(25)">25</button>
                    </div>
                </div>
            </div>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [pageSize]="pageSize"
            [boundaryLinks]="true" (pageChange)="onChange()" >
                <ng-template ngbPaginationPages let-page let-pages="pages">
                    <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                        <div class="mb-3 d-flex flex-nowrap px-4">
                            <span id="paginationDescription" class="col-form-label text-nowrap">{{(page-1)*pageSize +1}}
                                -
                                {{(page*pageSize)>collectionSize?collectionSize:(page*pageSize)}} of
                                {{collectionSize}}</span>
                        </div>
                    </li>
                </ng-template>

                <ng-template ngbPaginationFirst><i class="bi bi-chevron-bar-left"></i></ng-template>
                <ng-template ngbPaginationLast><i class="bi bi-chevron-bar-right"></i></ng-template>
                <ng-template ngbPaginationPrevious><i class="bi bi-chevron-left"></i></ng-template>
                <ng-template ngbPaginationNext><i class="bi bi-chevron-right"></i></ng-template>
            </ngb-pagination>
        </div>
    </div>
</div>
