<div class="navbar">
    <div class="headerLogo col">
      SmallChange<sup style="font-size:18px;">TM</sup>
    </div>
    <div style="width: 80px; height: 30px; font-size: 16px; ">
      <span style="padding: 0px 10px;">
        <button class = "lbutton login" type="button"  routerLink="/login">Login</button>
      </span>
    </div>
    <div style="width: 95px; height: 30px; font-size: 16px;margin-left: 5px;">
      <span style="padding: 0px 10px;">
        <button class="lbutton register" type="button" routerLink="/register">Register</button>
      </span>
    </div>
  </div>
