
.container{
    max-width: 50rem;
    margin: 0.3rem auto;
    border: solid 2px #a5a4a42f;
    background-color:  #f5f5f5;
    padding: 0;
}
a{
    color: black;
    font-family: Roboto,system-ui;
    font-weight: 450;
}