<div class="navbar">
  <div class="headerLogo col">
    SmallChange<sup style="font-size:18px;">TM</sup>
  </div>
  <div style="width: 80px; height: 30px; font-size: 16px; ">
    <span style="padding: 0px 10px;">
      <button class = "lbutton login" type="button" (click)="login()">Login</button>
    </span>
  </div>
  <div style="width: 95px; height: 30px; font-size: 16px;margin-left: 5px;">
    <span style="padding: 0px 10px;">
      <button class="lbutton register" type="button" (click)="register()">Register</button>
    </span>
  </div>
</div>
<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>User Details</a>
      <ng-template ngbNavContent>
        <app-register-form></app-register-form>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Account Details</a>
      <ng-template ngbNavContent>
        <app-account-form></app-account-form>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>