<div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="row g-3">
        <div class="col-md-6">
            <div class="card">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">               
                                <div>
                                    <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                    <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                                    <img src="https://i.imgur.com/35tC99g.png" width="30">
                                    <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                </div>                         
                            <div class="card-body payment-card-body">
                                <span class="font-weight-normal card-text">Card Number</span>
                                <div class="input">
                                    <i class="fa fa-credit-card"></i>
                                    <input type="text" class="form-control" placeholder="0000 0000 0000 0000">
                                </div>
                                <div class="row mt-3 mb-3">
                                    <div class="col-md-6">
                                        <span class="font-weight-normal card-text">Expiry Date</span>
                                        <div class="input">
                                            <i class="fa fa-calendar"></i>
                                            <input type="text" class="form-control" placeholder="MM/YY">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <span class="font-weight-normal card-text">CVC/CVV</span>
                                        <div class="input">
                                            <i class="fa fa-lock"></i>
                                            <input type="text" class="form-control" placeholder="000">
                                        </div>
                                    </div>
                                </div>
                                <span class="text-muted certificate-text">Your transaction is
                                    secured with ssl certificate</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <span class="p-3"><b>Summary</b></span>
                <div class="d-flex justify-content-between p-3">
                    <div class="d-flex flex-column">
                        <span>Pay for account registration </span>
                        <span class="billing">One time payment</span>
                    </div>

                    <div class="mt-1">
                        <sup class="super-price">$20.0</sup>
                    </div>
                </div>               

                <hr class="mt-0 line">

                <div class="p-3 d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <span>Total you pay(US Dollars)</span>
                    </div>
                    <span>$20.0</span>
                </div>

                <div class="p-3 but">
                    <button>Make Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>