<div class="navbar">
  <div class="headerLogo col">
    SmallChange<sup style="font-size:18px;">TM</sup>
  </div>
  <div style="width: 80px; height: 30px; font-size: 16px;">
    <span style="padding: 0px 10px;">
      <button class = "login" type="button" (click)="login()">Login</button>
    </span>
  </div>
  <div style="width: 95px; height: 30px; font-size: 16px;">
    <span style="padding: 0px 10px;">
      <button class="register" type="button" (click)="register()">Register</button>
    </span>
  </div>
</div>

<div class="intro-options">
  <div class="intro_text flexing">
    <div>
      <h1 class="Intro-heading">Invest with SmallChange
      </h1>
      <h4>By making small changes, transform your financial success. Become a SmallChange investor today!</h4>
      <div style="width: 300px; height: 45px; font-size: 16px;">
        <span class="absolute-center">
          <button type="button" (click)="register()">New user? Get Started!</button>
        </span>
      </div>
    </div>
  </div>

  <div class="options flexing">
    <div>
      <div class="options1-2">
        <div class="card">Index Stocks</div>
        <div class="card">Small Cap Stocks</div>
      </div>
      <div class="options1-2">
        <div class="card">International Market Stocks</div>
        <div class="card">Government Bonds</div>
      </div>
      <div class="options1-2" style="text-align:center ;">
        <div class="card">Corporate Bonds</div>
      </div>
    </div>
  </div>
</div>
