#intro{
    margin: 5% 10%;
    padding: 2rem 3rem;
    max-width: 40%;
    font-family: 'Fidelity Sans',Arial;
    // display: inline-block;
}

#product-image{
    // display: inline-block;
    // width: 30%;
    margin: 5% 10%;
    padding: 2rem 3rem;  
    // max-width: 15%;
}

.intro-div{
    display:flex ;
}

.fright{
    float: right;
}