<div class="navbar">
    <div class="headerLogo col">
      SmallChange<sup style="font-size:18px;">TM</sup>
    </div>
    <div style="width: 80px; height: 30px; font-size: 16px; ">
      <span style="padding: 0px 10px;">
        <button class = "lbutton login" type="button" (click)="login()">Login</button>
      </span>
    </div>
    <div style="width: 95px; height: 30px; font-size: 16px;margin-left: 5px;">
      <span style="padding: 0px 10px;">
        <button class="lbutton register" type="button" (click)="register()">Register</button>
      </span>
    </div>
  </div>
  
  

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div style="font-size: 20px; margin-left: 7px;">Registeration Details</div>
                <hr>
                <div>
                    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="flex pad">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" formControlName="firstName">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" formControlName="lastName">
                            </div>
                        </div>
                        <div class="form-group pad">
                            <label>Email<span style="color:red;">*</span></label>
                            <input type="email" class="form-control" formControlName="email">
                            <span class="text-danger"
                                *ngIf="(registerFormControl.email.touched || registerFormControl.email.dirty) && registerFormControl.email.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                                Enter a valid email address
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.EmailExists">
                                This email is already registered
                            </span>
                            
                        </div>
                        <div class="flex pad">
                            <div class="form-group">
                                <label for="country">Country<span style="color:red;">*</span></label>
                                <input type="text" name="country" required class="form-control"
                                    formControlName="country">
                                <span class="text-danger"
                                    *ngIf="registerFormControl.country.touched && registerFormControl.country.errors?.required">
                                    Country is required
                                </span>

                            </div>
                            <div class="form-group col-md-6">
                                <label>Pincode<span style="color:red;">*</span></label>
                                <input type="number" class="form-control" formControlName="pincode">
                            </div>
                            <span class="text-danger"
                                *ngIf="registerFormControl.pincode.touched && registerFormControl.pincode.errors?.required">
                                Pincode is required
                            </span>
                        </div>
                        <div class="form-group pad" *ngIf="registerFormControl.country.valid">
                            <label>Identification Type: &nbsp;</label>

                            <span [ngSwitch]="registerFormControl.country.value.toLowerCase()">
                                <span *ngSwitchCase="'usa'">SSN<span style="color:red;">*</span></span>
                                <span *ngSwitchDefault>Passport<span style="color:red;">*</span></span>
                            </span>
                            <input type="text" id="identification" class="form-control"
                                formControlName="identification">

                        </div>
                        <div class="form-group pad">
                            <label>Password<span style="color:red;">*</span></label>
                            <input type="password" class="form-control" formControlName="password">
                            <span class="text-danger"
                                *ngIf="(registerFormControl.password.touched) && registerFormControl.password.errors?.required">
                                Password is required
                            </span>
                            <span class="text-danger" *ngIf="registerFormControl.password.errors?.pattern">
                                {{passwordErrorTextmsg}}
                            </span>
                        </div>
                        <div class="form-group pad">
                            <label>Date of Birth</label>
                            <input type="date" class="form-control" formControlName="dob">
                        </div>

                        <div class="form-group" style="text-align: right;">
                            <button [disabled]="!registerForm.valid" type="submit"
                                class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>