.flex{
    display: flex;
    margin: 0;
    justify-content:space-between;
    align-items: stretch;
}
.card{
    padding: 15px;
    border: none;
    margin: 1rem;
}
input{
    line-height: 20px;
}

.pad{
    margin: 7px;
}


.navbar {
    margin: 10px 100px;
  }
  
  
  .headerLogo {
    font-size: 28px;
    line-height: 2em;
    color: #729102;
    font-weight: bold;
  }
  

#errorText {
    color: red;
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: hsl(73, 99%, 30%);
    color: white;
    font-size: 18px;
    width: 200px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 7px;
}

button:hover {
    background-color: hsl(73, 89%, 36%);
    color: white;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

label{
    font-weight: 430;
    margin-bottom: 2px;
}

.container{
    font-family: Roboto,system-ui;
}


  
.lbutton {
    width: 80px;
    background-color: hsl(73, 99%, 30%);
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  
  .lbutton:hover {
    background-color: hsl(73, 89%, 36%);
    color: white;
  }
  
  .lbutton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
  
  
  
  .lbutton.register{
    background-color: white;
    color: black;
    border: 2px solid hsl(73, 99%, 30%);
    padding: 8px;
    font-family: system-ui;
  }