.flex{
    display: flex;
    margin: 0;
    justify-content:space-between;
    align-items: stretch;
}
.card{
    padding: 15px;
    border: none;
    margin: 1rem;
}
input{
    line-height: 20px;
}

.pad{
    margin: 7px;
}



  

#errorText {
    color: red;
    font-family: system-ui;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: hsl(73, 99%, 30%);
    color: white;
    font-size: 18px;
    width: 200px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 7px;
}

button:hover {
    background-color: hsl(73, 89%, 36%);
    color: white;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

label{
    font-weight: 430;
    margin-bottom: 2px;
}

.container{
    font-family: Roboto,system-ui;
}
