<div class="container border rounded mx-auto my-2 p-0">
    <table class="table table-hover rounded m-0">
        <thead class="bg-light">
            <tr>
                <th scope="col" sortable="instrumentId" (sort)="onSort($event)">Symbol</th>
                <th scope="col" sortable="quantity" (sort)="onSort($event)" class="text-center">Quantity</th>
                <th scope="col" sortable="currentPrice" (sort)="onSort($event)" class="text-end">Current Price</th>
                <th scope="col" sortable="value" (sort)="onSort($event)" class="text-end">Value</th>
                <th scope="col" class="text-end">Gains</th>
                <th scope="col" class="text-end">Returns</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cp | paginate: { itemsPerPage: 5, currentPage: page }">
                <td>{{item.instrumentId}}</td>
                <td class="text-center">{{item.quantity}}</td>
                <td class="text-end">{{item.currentPrice | currency : 'USD' : "symbol" : '1.2-2'}}</td>
                <td class="text-end">{{item.value | currency : 'USD' : "symbol" : '1.2-2'}}</td>
                <td class="text-end" [ngStyle]="{'color':item.gains >=0 ? 'green' : 'red' }">{{item.gains | currency :
                    'USD' : "symbol" : '1.2-2'}}</td>
                <td class="text-end" [ngStyle]="{'color':item.returns >=0 ? 'green' : 'red' }">{{item.returns * 100 |
                    number : '1.2-2'}}%</td>
            </tr>
            <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
        </tbody>
    </table>
</div>
<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [pageSize]="pageSize"
    [boundaryLinks]="true" (pageChange)="onChange('')">
    <ng-template ngbPaginationPages let-page let-pages=" pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
            <div class="mb-3 d-flex flex-nowrap px-4">
                <span id="paginationDescription" class="col-form-label text-nowrap">{{(page-1)*pageSize +1}}
                    -
                    {{(page*pageSize)>collectionSize?collectionSize:(page*pageSize)}} of
                    {{collectionSize}}</span>
            </div>
        </li>
    </ng-template>

    <ng-template ngbPaginationFirst><i class="bi bi-chevron-bar-left"></i></ng-template>
    <ng-template ngbPaginationLast><i class="bi bi-chevron-bar-right"></i></ng-template>
    <ng-template ngbPaginationPrevious><i class="bi bi-chevron-left"></i></ng-template>
    <ng-template ngbPaginationNext><i class="bi bi-chevron-right"></i></ng-template>
</ngb-pagination>