<div>
    <ag-grid-angular 
        style="width: 100%; font-family: montserrat; font-size: 14px;" 
        class="ag-theme-alpine"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [pagination]="true"
        [paginationPageSize]="6"
        domLayout="autoHeight"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>

<!-- <div class="container border rounded mx-auto my-2 p-0">
    <table class="table table-hover rounded m-0">
        <thead class="bg-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th class="text-end" scope="col">Price</th>
                <th class="text-end" scope="col">Value</th>
                <th class="text-end" scope="col">Gains</th>
                <th class="text-end" scope="col">Returns</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cp">
                <td>{{item.name}}</td>
                <td>{{item.qty}}</td>
                <td class="text-end">{{item.price | currency : 'USD' : "symbol" : '1.2-2'}}</td>
                <td class="text-end">{{item.value | currency : 'USD' : "symbol" : '1.2-2'}}</td>
                <td class="text-end" [ngStyle]="{'color':item.prof >=0 ? 'green' : 'red' }">{{item.prof | currency :
                    'USD' : "symbol" : '1.2-2'}}</td>
                <td class="text-end" [ngStyle]="{'color':item.percent >=0 ? 'green' : 'red' }">{{item.percent}}%</td>
            </tr>
        </tbody>
    </table>
</div> -->