.main {
  max-width: 62.5em;
  padding: 4em 1em 4em 1em;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin: 10px 100px;
}


.headerLogo {
  font-size: 28px;
  line-height: 2em;
  color: #729102;
  font-weight: bold;
}

button {
  background-color: hsl(73, 99%, 30%);
  color: white;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: hsl(73, 89%, 36%);
  color: white;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}



.register{
  background-color: white;
  color: black;
  border: 2px solid hsl(73, 99%, 30%);
  padding: 8px;
  font-family: system-ui;
}

.btn {
  background-color: #024A7A !important;
  border-color: #024A7A !important;
}


.loginform {
  max-width: 20rem;
  margin: 0 auto 0 auto;
  font-family: system-ui;
}

.loginformgroup {
  margin-bottom: 1.5rem;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.formgroup:last-child {
  margin-bottom: 0;
}

.formlabel {
  font-family: system-ui;
  font-weight: bold;
  color: black;
  display: block;
  margin-bottom: 0.25rem;
}

.errormessage {
  font-family: system-ui;
  font-size: 0.8em;
  font-weight: bold;
  // display: none;
  // min-height: 0.5rem;
  color: #DC1616;
  text-align: center;
}

.textbox {
  width: 100%;
  box-sizing: border-box;
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-size: 18px;
  display: block;
  line-height: 1.5em;
}

.invalidinputfield {
  border-color: #DC1616;
}

.loginbutton {
  width: 100%;
  box-sizing: border-box;
  border-width: 0px;
  border-radius: 5px;
  padding: .5rem 1rem 1rem 1rem;
  font-family: system-ui;
  font-size: 20px;
  color: white;
  background-color: #568200;
  display: block;
  line-height: 1em;
  text-align: center;
}

.link {
  font-family: system-ui;
  color: #356F95;
  display: block;
  text-align: center;
}

.link:hover {
  outline: #ccc dotted 1px;
}

#footerBar {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  max-width: 62.5em;
  display: block;
  background-color: transparent;
}

#footerText {
  box-sizing: content-box;
  font-family: system-ui;
  font-size: 18px;
  line-height: 1.5em;
  color: #000;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}