<app-landing-nav></app-landing-nav>
<main class="form-signin w-100 m-auto text-center">
    <div class="main">
        <div class="loginform">
            <form class="form-group" (ngSubmit)="verifyCredentials()">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                <ngb-alert *ngIf="errorMessage" #selfClosingAlert type="danger" (closed)="errorMessage=''" [dismissible]="false">{{ errorMessage }}
                </ngb-alert>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                        [(ngModel)]="login.email" name="username">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        [(ngModel)]="login.password" name="password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3 align-center">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            </form>
            <!-- <button class="loginbutton" type="button">Log in</button> -->


            <div class="text-center">
                <a class="link mt-2" href="">Forgot your password?</a>
            </div>
        </div>
    </div>
</main>