* {
    font-family: 'Work Sans', sans-serif;
}

.navbar-nav {
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-weight: bold;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    background-color: #568200;
}

#headerLogo {
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-size: 32px;
    line-height: 1.5em;
    color: #FFF;
}