* {
    font-family: system-ui;
}

.navbar-nav {
    font-family: system-ui;
    font-weight: bold;
}

.dropdown-toggle::after {
    display: none;
}

.underline {
    border-bottom: 1px solid #eeeeee;
}

.nav-item {
    padding-left: 24px;
    padding-right: 24px;
}

.header {
    // background-color: #568200;
    // border-radius: 16px;
    background-color: #fff;
}

#headerLogo {
    font-family: system-ui;
    font-size: 24px;
    line-height: 1.8rem;
    color: #789A01;
}