* {
    font-family: 'Work Sans', sans-serif;
}

.navbar-nav {
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-weight: bold;
}

.underline {
    border-bottom: 1px solid #eeeeee;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    background-color: #568200;
    border-radius: 16px;
}

#headerLogo {
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-size: 24px;
    line-height: 2em;
    color: #FFF;
}