<app-landing-nav></app-landing-nav>
<br>
<div class="intro-options">
  <div class="intro_text flexing">
    <div>
      <h1 class="Intro-heading">Invest with SmallChange
      </h1>
      <h4>By making small changes, transform your financial success. Become a SmallChange investor today!</h4>
      <div style="width: 300px; height: 45px; font-size: 16px;">
        <span class="absolute-center">
          <button type="button" routerLink="/register">New user? Get Started!</button>
        </span>
      </div>
    </div>
  </div>

  <div class="options flexing">
    <div>
      <div class="options1-2">
        <div class="card">Index Stocks</div>
        <div class="card">Small Cap Stocks</div>
      </div>
      <div class="options1-2">
        <div class="card">International Market Stocks</div>
        <div class="card">Government Bonds</div>
      </div>
      <div class="options1-2" style="text-align:center ;">
        <div class="card">Corporate Bonds</div>
      </div>
    </div>
  </div>
</div>
